## f string

In [9]:
#print(f"addition:{add}\nsubtration:{sub}")

In [7]:
multiplier = 2
counter = 1
while counter <= 10:
    result = counter * multiplier
    print(f"{counter} x {multiplier} = {result}")
    counter += 1

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

In [12]:
 x = 90 #x is a variable,=is an assignment operator ,90 is a value
print(x)
#adding 5 to x and assign result to x
x += 5 #x = x+5
print(x)
#subtract 15 from x and assign to x
x -= 15 #x = x-15
print(x)
#multiple *= 3 from x and assign to x
x *= 3 #x*3
print(x)
#float division /= 4 from x and assign to x
x /= 4 #/4
print(x)
#floor division //= 5 from x and assign to x
x //= 5 #//5
print(x)
#modolus division %=7 from x and assign to x 
x %= 7 #%7
print(x)
#power division **=8 from x and assign to x
x **= 8 #**8
print(x)

90
95
80
240
60.0
12.0
5.0
390625.0

# f string

In [5]:
row = 1
while row <= 1:
    column = 1
    while column <= 10:
        result = row * column
        print(f"{row} x {column} = {result}")
        column += 1
        row += 1

1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

## for loop program

In [5]:
num = int(input("Enter a number to generate the multiplication table:"))
print(f"multiplication table for {num}:")
for i in range(1,11):
    result=num * i
    print(f"{num} x {i} = {result} ")

Enter a number to generate the multiplication table: 5

multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [6]:
num = int(input("Enter a number to generate the multiplication table:"))
i=1
print(f"multiplication table for {num}:")
while i<=10:
    result=num*i
    print(f"{num} x {i} = {result}")
    i+=1

Enter a number to generate the multiplication table: 3

multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [1]:
name="bharath"
print(name)

bharath

## operations in list/tuple/string

#### (list) repetation()

In [3]:
a1=["uma",107]
#repeat () given the list 8 times -[minus returns the new list]
print(a1)
na1=a1*8
print(na1)

['uma', 107]
['uma', 107, 'uma', 107, 'uma', 107, 'uma', 107, 'uma', 107, 'uma', 107, 'uma', 107, 'uma', 107]

### iteration() -for loop (iteration is long line given by one by one)

In [11]:
for i in na1: 
 print(i)

uma
107
uma
107
uma
107
uma
107
uma
107
uma
107
uma
107
uma
107

### end=" " is used by side printing output

In [14]:
for i in na1: 
 print(i,end=" ")

uma 107 uma 107 uma 107 uma 107 uma 107 uma 107 uma 107 uma 107

### tuple repetation()

In [21]:
t= "harish",107,66,'mano','hindhu'
#for()
for a in t:
    print(a)
##repetation ()                              # end=''optional
dt=t*5
print(dt,end=" ")

harish
107
66
mano
hindhu
('harish', 107, 66, 'mano', 'hindhu', 'harish', 107, 66, 'mano', 'hindhu', 'harish', 107, 66, 'mano', 'hindhu', 'harish', 107, 66, 'mano', 'hindhu', 'harish', 107, 66, 'mano', 'hindhu')

### concatenation()-+

In [22]:
t= "harish",107,66,'mano','hindhu'
t1="maha",99
#concatenation-+
nt1=t+t1
print(nt1)

('harish', 107, 66, 'mano', 'hindhu', 'maha', 99)

### membership operator-in

In [24]:
x=["uma","hari","maha","govind","subbu"]
#mani exists
print("mani" in x)
print("uma" in x)

False
True

In [1]:
x=[1,2,3]
x.append([4,5])
print(len(x))

4

## append() -is adding the values inlast element

In [9]:
s=['hello','how','are']
print('original:',s)              #only list[] is worked-notuple
s.append("you")
print('after adding:',s)

original: ['hello', 'how', 'are']
after adding: ['hello', 'how', 'are', 'you']

### functions

## types of variables

In [8]:
#global variable
#local vriable
#defult arguments are also called method over loading and

In [4]:
##4.variable/arbitary arg
def courses(names):
    print(names)
courses("c")
def courses(*names):
    print(names)
courses("python","c")

c
('python', 'c')

In [5]:
### return keyword adding the numbers
def add(a,b):
    print(a+b)  ##return
add(45,44)

89

In [6]:
def add(a,b):
    return a+b  ##return
add(45,44)

89

In [7]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
print(fact(5))

120

In [14]:
for i in range(2,0,20):
    i+=20
print(i)

21

In [11]:
sum_even = 0
for i in range(1,11):   #loop 10 times to get the first 10 even numbers
   even_number = 2 * i
sum_even += even_number
print(f"the sum of first 10 even natural numbers is:{sum_even}")

the sum of first 10 even natural numbers is:20

In [12]:
s=0; n=2
for i in range(1,11):
    print(n)
    s=s+n
    n=n+2

print('Sum of 1st 10 even numbers = %d' %(s))

2
4
6
8
10
12
14
16
18
20
Sum of 1st 10 even numbers = 110

In [6]:
sum = 0
for i in range(2,21,2):
    sum += i
print(sum)

110

In [4]:
## print series 100,90,80,70,60,50,40,30,20,10 using while loop
num = 100
while num >= 10:
    print(num, end=" ")
    num -= 10

100 90 80 70 60 50 40 30 20 10

In [10]:
n = 1
s = 2
a = 0
while n <= 10:
    a += n
    s += 2
    n += 1
print("sum of first 10 even natural numbers is:",a)

sum of first 10 even natural numbers is: 55

In [2]:
## sum of first 10 even natural number using whileloop
sum = 0
i = 2
while i <= 20:
    sum += i
    i += 2
print(sum)

110

## range()

In [1]:
## create a value of list start which numbers 1-10
##[1,2,3,4,5,6,7,8,9,10]
l = list(range(1,11,1))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
x = tuple(range(5,0,-1))
print(x)

(5, 4, 3, 2, 1)

In [4]:
x = list(range(8,0,-1))
print(x)

[8, 7, 6, 5, 4, 3, 2, 1]

## for loop

In [7]:
# syntax of for loop is 
# for v_n in range()

In [10]:
for i in range(1,11,1):
    print(i,"python")

1 python
2 python
3 python
4 python
5 python
6 python
7 python
8 python
9 python
10 python

In [12]:
for x in range(2,12,2):
    print(x,"daddymummy")

2 daddymummy
4 daddymummy
6 daddymummy
8 daddymummy
10 daddymummy

In [14]:
a = "umabharath"
for c in a:
    print(c,"daddymummy")

u daddymummy
m daddymummy
a daddymummy
b daddymummy
h daddymummy
a daddymummy
r daddymummy
a daddymummy
t daddymummy
h daddymummy

## jump statements

In [16]:
#break,continue,pass
for i in range(1,15,1):
    if i==8:
        break
    print(i,end=" ")

1 2 3 4 5 6 7

In [4]:
i = 1
while i<21:
    if i == 2 or i == 8:        ##assignment
        i += 1
        continue
    print(i,end=" ")
    i += 1

1 3 4 5 6 7 9 10 11 12 13 14 15 16 17 18 19 20

In [5]:
i = 1
while i<15:
    if i == 8:
        i += 1
        break
    print(i,end=" ")
    i += 1

1 2 3 4 5 6 7

In [3]:
for i in range(1,21,1):
    if i == 2 or i == 8:
        continue                         ##assignment
        print(i,end=" ")

In [11]:
se = set()
print(se,type(se))

set() <class 'set'>

In [15]:
se = {"mani","uma",102,88,"bharath"}
print(se.pop())
print("after removing,set:",se)

102
after removing,set: {'uma', 'bharath', 88, 'mani'}

In [1]:
l=["harish","kiran","tarun","harish","jai","jamuna","harish"]
print(l.clear())
print(l)

None
[]

In [11]:
n = int(input("Enter the no of rows: "))
size = 2 * n - 1
for i in range(size):
    for j in range(size):
        top = i
        left= j
        bottom = size - 1 - i
        right =  size - 1 - j
        min_dist = min(top, left, bottom, right)
        print(n - min_dist, end=" ")
    print()

Enter the no of rows:  5

5 5 5 5 5 5 5 5 5
5 4 4 4 4 4 4 4 5
5 4 3 3 3 3 3 4 5
5 4 3 2 2 2 3 4 5
5 4 3 2 1 2 3 4 5
5 4 3 2 2 2 3 4 5
5 4 3 3 3 3 3 4 5
5 4 4 4 4 4 4 4 5
5 5 5 5 5 5 5 5 5

In [1]:
n = int(input("enter the no of rows:"))
size = 2*n-1
for i in range(size):
    for j in range(size):
        value=max(abs(i-(n-1)),abs(j-(n-1)))+1
        print(value,end=" ")
    print()

enter the no of rows: 5

5 5 5 5 5 5 5 5 5
5 4 4 4 4 4 4 4 5
5 4 3 3 3 3 3 4 5
5 4 3 2 2 2 3 4 5
5 4 3 2 1 2 3 4 5
5 4 3 2 2 2 3 4 5
5 4 3 3 3 3 3 4 5
5 4 4 4 4 4 4 4 5
5 5 5 5 5 5 5 5 5

In [2]:
for c in "ABCDE":
    print(c * 5)

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

In [5]:
for i in range(5):
    for j in range(5):
        if j == 0 or j == 4:
            print("A",end=" ")
        else:
            print(chr(65 + i),end=" ")
    print()

A A A A A
A B B B A
A C C C A
A D D D A
A E E E A

In [8]:
for i in range(6):
    for j in range(5):
        if i ==0 or i == 5:
            print("A",end=" ")
        elif j == 0 or j == 4:
            print("A",end=" ")
        else:
            print(chr(65 + i),end=" ")
    print()

A A A A A
A B B B A
A C C C A
A D D D A
A E E E A
A A A A A

In [15]:
n=int(input("enter the n of rows:"))
size=2*n-1
for i in range(size):
    for j in range(size):
        value=max(abs(i-(n-1)),abs(j-(n-1)))+1
        print(value,end=" ")
    print()

enter the n of rows: 8

8 8 8 8 8 8 8 8 8 8 8 8 8 8 8
8 7 7 7 7 7 7 7 7 7 7 7 7 7 8
8 7 6 6 6 6 6 6 6 6 6 6 6 7 8
8 7 6 5 5 5 5 5 5 5 5 5 6 7 8
8 7 6 5 4 4 4 4 4 4 4 5 6 7 8
8 7 6 5 4 3 3 3 3 3 4 5 6 7 8
8 7 6 5 4 3 2 2 2 3 4 5 6 7 8
8 7 6 5 4 3 2 1 2 3 4 5 6 7 8
8 7 6 5 4 3 2 2 2 3 4 5 6 7 8
8 7 6 5 4 3 3 3 3 3 4 5 6 7 8
8 7 6 5 4 4 4 4 4 4 4 5 6 7 8
8 7 6 5 5 5 5 5 5 5 5 5 6 7 8
8 7 6 6 6 6 6 6 6 6 6 6 6 7 8
8 7 7 7 7 7 7 7 7 7 7 7 7 7 8
8 8 8 8 8 8 8 8 8 8 8 8 8 8 8