In [14]:
 ## wap to find how many times substring "sai" appears in the given string without using predefined functions
s="sai is a good developer.sai is writer"
c = 0
l = s.split()
for i in l:
    if i == "sai":
        c += 1
 print(c)

1

In [17]:
# find min & max value from given list
l = [11,19,21,10,9,14]
l.sort()
l[0]
l[-1]

21

In [18]:
# find min & max value from given list
l = [11,19,21,10,9,14]
min_val = l[0]
max_val = l[0]
for i in l:
    if i<min_val:
        min_val=i
    if i>max_val:
        max_val=i
print(min_val)
print(max_val)

9
21

In [26]:
# wap to reverse the given list without using slicing method
l = [11,19,21,10,9,14]
nl=[]
for i in range(len(l)):
    r=l.pop()
    nl.append(r)
print(nl)

[14, 9, 10, 21, 19, 11]

In [29]:
# wap to find all lower case letters from the given string and join as new string
s="WeLcOmEtOPyTHoN"
a=s[1::2]
print(a)

ecmtPTo

In [2]:
l = [11,19,21,10,9,14]
print(l[::-1])

[14, 9, 10, 21, 19, 11]

In [4]:
l = [11,19,21,10,9,14]
l.append(66)
print(l)

[11, 19, 21, 10, 9, 14, 66]

In [10]:
## wap to find digits in the given string and find their sum
s = "harshitha12_96@gmail.com"
s1=0
for i in s:
   if i.isdigit():
       s1=s1+int(i)
print(s1)

18

In [15]:
## wap to rename key is it as location
d={"name":"priya","idno":101,"age":25,"city":"karnataka","fees":35000.0}
x=d.pop("city")
d["location"]=x
print(d)

{'name': 'priya', 'idno': 101, 'age': 25, 'fees': 35000.0, 'location': 'karnataka'}

In [19]:
new_dict = {}
for x,y in d.items():
    new_dict[y] = x
print(new_dict)

{'priya': 'name', 101: 'idno', 25: 'age', 35000.0: 'fees', 'karnataka': 'location'}

In [23]:
## swapping of 2 numbers
x = 90
y = 10
x,y=y,x
print("x=",x,"y=",y)

x= 10 y= 90

In [1]:
x = 50
y = 48
z = 35
print("before:")
print("x=",x)
print("y=",y)
print("z=",z)
a = x
x = y
y = z
z = a
print("agter swapping:")
print("x=",x)
print("y=",y)
print("z=",z)

before:
x= 50
y= 48
z= 35
agter swapping:
x= 48
y= 35
z= 50

In [26]:
prod = 1
for i in range(5):
    val = int(input("enter value:"))
    print(val)
print("enter the numbers:",prod)

enter value: 5

5

enter value: 5

5

enter value: 5

5

enter value: 5

5

enter value: 5

5
enter the numbers: 1

### lambda functions

In [27]:
z=lambda a,b:a*b
print(z(56,99))

5544

In [31]:
l = [1,2,3,4,5]                ##mapping()
print(list(map(lambda z:z**3,l)))

[1, 8, 27, 64, 125]

In [32]:
print(list(filter(lambda z:z%2==0,l)))   ##filter()

[2, 4]

In [7]:
name = "sai"
age = 45
def display():
    print(f"My name is {name}. My age is {age}")
   
display()

My name is sai. My age is 45